run = [
    "deno",
    "task",
    "test"
]

hidden = [".replit", "replit.nix", ".vscode", ".deno", ".github", ".gitignore", "LICENSE.md", "deno.lock", "dnt.ts"]

entrypoint = "README.md"

[languages.deno]
pattern = "**/*.{ts,js}"

[languages.deno.languageServer]
start = ["deno", "lsp"]
[languages.deno.languageServer.initializationOptions]
enable = true
lint = true

[env]
DENO_DIR = "/home/runner/${REPL_SLUG}/.deno"

[nix]
channel = "stable-22_11"
